
.cabeçalho {
    background-color:rgb(221, 255, 233);
    width="50";
}

.titulo {
    <strong>
}

h2{
color: rgb(106, 106, 255);
}

{
  background-color: rgb(255, 400, 200);
}

#meu-titulo {
  color: indianred;
}
h1{
  front-size:80px;
}
p {
  front-family: cursive
}
