* {
  margin:0;
  padding: 0;
}

.cabecalho {
    background-color:lightgoldenrodyellow;
    width:200px;
    margin: auto;
    
}
.cabecalho-conteiner {
  background-color:lightgoldenrodyellow;
}

.indice ul {
  color: palevioletred;
display:inline-block;
padding-left: 35%;
}

.indice li {
display: inline-block;
padding-right: 20px;
}

.bemvindo {
  background-color:rgb(232, 252, 244);
}
.cabecalho img {
  width: 200px;
}
 


.titulo {
  color:indianred;
}

h2{
color: rgb(106, 106, 255);
}

{
  background-color: rgb(255, 400, 200);
}

#meu-titulo {
  color: indianred;
}
h1{
  front-size:80px;
}
p {
  front-family: cursive
}
